<section class="checkoutBox">
	<h1>Checkout</h1>
	<h3>Majestic Thai Foods</h3>
	<hr>
	<button>Your Order</button>
	<hr>
	<h3>
		<span>Item</span>
		<span>Price</span>
	</h3>
	<hr>
	<h3>
		<span>Subtotal</span>
		<span>$0.00</span>
	</h3>	
	<div>
		<h3>Delivery</h3>
		<button class="circleButton"></button>
	</div>
	<div>
		<h3>Pickup</h3>
		<button class="circleButton"></button>
	</div>
</section>