<secting class="menuItem">
    <h1 class="menuItemTitle">{{item}}</h1>
    <p class="menuItemDescription">{{description}}</p>
    <h3 class="menuItemPrice">{{price}}</h3>
    <h3>{{selected}}</h3>
    <button class="checkoutButton">Add to Checkout</button>
</secting>
      